
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lobster&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    list-style-type: none;
    text-decoration: none;
}

body {
    height: 100vh;
    background: linear-gradient(30deg, #f9e7fe8e 20%, white 50%, #fcf1c357 95%);
    background-size: 200% 200%;
    animation: gradient 5s ease infinite;
}
body::-webkit-scrollbar{
    width: 0;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

a{
    color: #000;
    font-size: 1rem;
    transition: all .2s;
}
a:hover{
    color: #919090;
}

/* HEADER */
header{
    position: fixed;
    width: 100%;
    padding: 0 2rem;
    background: #f9f9f9;
    z-index: 2;
    box-shadow: 0 0.1px 5px rgba(10, 10, 10, 0.2);
}

.navbar{
    width: 100%;
    height: 65px;
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.navbar .logo a{
    font-family: "Lobster", sans-serif;
    font-weight: 600;
    font-size: 1.8rem;
}
.navbar .links{
    font-weight: 600;
    display: flex;
    gap: 2rem;
}
.navbar .links .actif{
    color: #919090;
}
.navbar .links li a{
    font-family: "Raleway", sans-serif;
}

.action-btn{
    color: #fff;
    background-color: #635bff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}
.action-btn:hover{
    background-color: #5564c8;
    scale: 1.02;
    color: #fff;
}
.action-btn:active{
    scale: 1;
}


/* HAMBURGER */
.hamburger{
    display: none;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background-color: #000;
    border-radius: 10px;
}

/* PROGRESS BAR */
/* The progress container (grey background) */
.progress-container {
    position: absolute;
    width: 100%;
    height: 0.2rem;
    left: 0;
    background: transparent;
}
  
  /* The progress bar (scroll indicator) */
.progress-bar {
    height: 100%;
    background: linear-gradient(45deg, #6772e5, #9b51e0);
    width: 0%;
}

/* DROPDOWN MENU*/
.dropdown{
    /**/display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    box-shadow: 0px 5px 10px rgba(114, 114, 114, 0.424);
    /**/height: 0;
    background: #ececec;
    backdrop-filter: blur(15px);
    border-radius: 15px;
    overflow: hidden;
    /**/transition: height 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    /*transition: height 0.3s cubic-bezier(1,1.41,1,.83);*/
}
/**/.dropdown.active{
    height: 255px;
    border: 3px solid #f6f6f6;
    z-index: 2;
}
.dropdown li{
    font-weight: 600;
    padding-top: 0.8rem;
    display: flex;
    justify-content: center;
}
.dropdown li a{
    font-family: "Raleway", sans-serif;
    font-size: 1.02;
        background-color: #f2f2f2;
        padding: 0.5rem 1rem;
        border: none;
        outline: none;
        border-radius: 20px;
        cursor: pointer;
    width: 80%;
    text-align: center;
}
.dropdown li .actif{
    color: #919090;
}
.dropdown .action-btn{
    letter-spacing: 3px;
    text-transform: uppercase;
    width: 80%;
    text-align: center;
    background-color: #635bff;
}
.dropdown .action-btn:hover{
    background-color: #5564c8;
}

/* RESPONSIVE DESIGN */
@media(max-width : 992px){
    .navbar{
        justify-content: space-around;
    }
    .navbar .links, .navbar .action-btn{
        display: none;
    }

    .dropdown{
        display: block;
    }

    /* HAMBURGER  */

    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2 ){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    /* PROGRESS BAR */
    .progress-container{
        top: 0;
    }
}
@media(max-width : 576px){
    .dropdown{
        left: 2rem;
        width: unset;
    }
}

/**********************************************************/


